@import "tailwindcss";

body{
  background-color: #070925;
}

@theme {
  --font-Satoshi: "Satoshi", "sans-serif";
  --animate-slideInRight: slideInRight 0.5s ease-in;
  --animate-slideInLeft: slideInLeft 0.5s ease-in;
  @keyframes slideInRight {
    0% {
     opacity: 0;
     transform: translateX(-300px); 
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
    @keyframes slideInLeft {
    0% {
     opacity: 0;
     transform: translateX(300px); 
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
